// Normalisering.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Typsnitt.
$font-stack: "anona", sans-serif;

// Färger.
$black: #000000;
$white: #ffffff;

// Färger, ljust tema.
$primary-color: #e3f5eb;
$secondary-color: #3c5c4f;

// Färger, mörkt tema.
$primary-dark-color: $secondary-color;
$secondary-dark-color: darken($secondary-color, 15%);

// Mixin för flex, centering. 
@mixin center-flex {
    display: flex;
    align-items: center;
}

// Mixin för radhöjd och radlängd.
@mixin line-height-length {
    line-height: 1.6;
    max-width: 55ch;
}