// Normalisering.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Typsnitt.
$font-stack: "anona", sans-serif;

// Färger.
$black: #000000;
$white: #ffffff;

// Färger, ljust tema.
$primary-color: #e3f5eb;
$secondary-color: #3c5c4f;

// Färger, mörkt tema.
$primary-dark-color: darken($secondary-color, 5%);
$secondary-dark-color: darken($secondary-color, 15%);

// Mixin för flex, centering. 
@mixin center-flex {
    display: flex;
    align-items: center;
}

// Mixin för radhöjd och radlängd.
@mixin line-height-length {
    line-height: 1.6;
    max-width: 55ch;
}

// Mixin för text-skugga. 
@mixin text-shadow {
    text-shadow: 2px 4px 3px $black;
}

// Mixin för bilder.
@mixin images {
    border: 10px solid $secondary-color;
    border-radius: 5%;
    box-shadow: 10px 10px 20px $black;
    width: 100%;
    height: auto;
    max-width: 250px;
}