@use 'base';
@use 'component';

/* Body och färgstandard för ljust färgtema.*/
body {
    font: 100% base.$font-stack;
    background-color: base.$primary-color;
    color: base.$secondary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header inkl. logotyp. */
header {
    @include base.center-flex;
    justify-content: space-between;
    background-color: base.$secondary-color;
    color: base.$primary-color;
    width: 100%;
    height: 150px;
    margin: 0;
    box-shadow: 0 3px 20px 10px lighten(base.$black, 15%);

    #logo {
        padding: 0 0 0 50px;
        max-width: 170px;
        height: auto;
    }

    /* Logotyp, utökad storlek vid min-bredd 375px. */
    @media (min-width: 375px) {
        #logo {
            max-width: 270px;
            height: auto;
        }
    }
}

/* Footer */
footer {
    margin-top: auto;
    width: 100%;
    height: 100px;
    background-color: base.$secondary-color;
    color: base.$primary-color;
    text-align: center;
    line-height: 1.6;
    padding: 1rem 0 0 0;
    // box-shadow: 0 3px 20px 15px lighten(base.$black, 15%);
}

/* Mobil-meny, ändras till vanlig meny vid min-bredd 992px. */
@media (min-width: 992px) {

    /* Header. */
    header {
        @include base.center-flex;
        justify-content: space-between;
        background-color: base.$secondary-color;
        height: 150px;
        margin: 0;
    }

    /* Meny-knapp som ej syns. */
    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    /* Ändring för vanlig nav-meny. */
    nav {
        display: block !important;
        position: static;
        height: auto;
        font-size: 1.4rem;
        width: auto;

        ul {
            height: 100%;
        }

        li {
            display: inline;
            padding: 1rem;

            &:hover {
                cursor: pointer;
                text-decoration: none;
                color: base.$primary-color;
                border-radius: 5px;
            }
        }

        a {
            background-color: transparent;
            border: none;
            color: base.$primary-color;
            padding: 20px 0;
            margin: 0 0.5rem 0 0.5rem;
            box-shadow: none;
            text-decoration: none;
            font-size: 22px;

            &:hover {
                text-shadow: 2px 4px 3px base.$black;
                color: base.$primary-color;
                text-decoration: none;
            }
        }  
    }
}

/* Rubriker. */
h1 {
    text-align: center;
    margin: 3rem 0 3rem 0;
}

h2 {
    margin: 2rem 0 0.5rem 0;
}

/* Index-sidan. */
.grid-container-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 2rem;
    place-items: center;

    .grid-item-1-index {
        .img {
            border: 10px solid base.$secondary-color;
            border-radius: 5%;
            box-shadow: 10px 10px 20px base.$black;
            width: 100%;
            height: auto;
            max-width: 250px;
        }
    }

    .grid-item-2-index {
        padding: 0 1rem 0 1rem;
        @include base.line-height-length;
        margin: -2rem 0 2rem 0;

        ul {
            padding-left: 2rem;
        }
    }
}

/* Index-sidan, ändras till två kolumner vid min-bredd 992px. */
@media (min-width: 992px) {

    h1 {
        margin: 5rem 0 6rem 0;
    }

    .grid-container-index {
        grid-template-columns: repeat(2, 1fr);
        place-items: start center;
        margin: 0 0 5rem 0;

        .grid-item-1-index {
            .img {
                max-width: 100%;
            }
        }
    }
}

/* Media-query för mörkt färgtema, gäller samtliga sidor. */
@media (prefers-color-scheme:dark) {
    body {
        background-color: base.$primary-dark-color;
        color: base.$secondary-dark-color;
    }

    header {
        box-shadow: 0 3px 20px 10px lighten(base.$black, 5%);
    }

    header, footer, nav ul {
        background-color: base.$secondary-dark-color;
    }

    @media (max-width: 991px) {
        nav {
            background-color: base.$secondary-dark-color;
        }
    }

    nav li {
        color: base.$primary-color; 

        &:hover {
            background-color: darken(base.$primary-dark-color, 5%);
        }
    }

    nav a {
        color: base.$primary-color;
    }

    .close {
        box-shadow: 0 50px 0 92.5px base.$secondary-dark-color;
    }
}